html, body {
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
    color: #222;
    font-weight: 300;
}

body {
    background: url('/img/rucola.jpg') no-repeat center center fixed;
    background-size: cover;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.header {
    text-align: center;
    margin-bottom: 6rem;
}

.header > hr {
    margin: 0;
}

.header > .title {
    color: #fff;
}

.title {
    background: url('/img/farmersmarket-20.jpg') no-repeat center center;
    padding: 4rem;
}

.title > h1 {
    font-size: 8rem;
    font-weight: 600;
    text-shadow: 0 0 35px black;
    margin-bottom: 0;
}

.title > span {
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 0 0 25px black;
}

.nav-links {
    padding: 2px 0;
    background-color: black;
}

.nav-links > a {
    color: #fff;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-links > a:hover {
    color: #636b6f
}

.container {
    background-color: #fff;
}

.content {
    padding: 0 4rem;
}

@media (max-width: 960px) {
    .content {
        padding: 0 1rem;
    }
}

input[type=text], input[type=password], input[type=textarea], select {
    width: 100%;
}

img.responsive-image {
    height: auto;
    width: 100%;
}

.error {
    font-weight: 400;
    color: #c0392b;
}

.success {
    font-weight: 400;
    color: #27ae60;
}

.center-text {
    text-align: center;
}